@model CourseWork2.Models.Albums

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Albums</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudioName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAgeBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAgeBar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverImagePath)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("Index","Albums")">Back To List</a>

    </div>
    }
</div>
