@model IEnumerable<CourseWork2.Models.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAgeBar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CopyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Studio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAgeBar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinePerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
