@model CourseWork2.Models.Producer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Producer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-success m-3" href="@Url.Action("Edit","Producers",new { id = Model.Id })">Edit</a>
    <a class="btn btn-default m-3" href="@Url.Action("Index","Producers")">Back To List</a>
</p>
